* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  @media (min-width: 1900px) {
    font-size: 100%;
  }
  @media (max-width: 320px) {
    font-size: 50%;
  }
}
body {
  font-size: 1.6rem;
  color: #fff;
}
.flexx {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  .floating-cards-bg {
    background: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 30vw;
    position: relative;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .front {
      background: url("./images/bg-card-front.png");
      width: 30rem;
      background-size: 100%;
      height: 16.5rem;
      background-repeat: no-repeat;
      border-radius: 1rem;
      margin-left: 10vw;
      margin-bottom: 2.5rem;
      h2,
      .flex {
        width: 90%;
        margin: auto;
      }
      .flex {
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
    .back {
      background: url("./images/bg-card-back.png");
      width: 30rem;
      background-size: 100%;
      height: 16.5rem;
      background-repeat: no-repeat;
      border-radius: 1rem;
      margin-left: 18vw;
      p#cvc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        height: 100%;
        margin-right: 4rem;
      }
    }
    @media (min-width: 900px) and (max-width: 1000px) {
      .front {
        margin-left: 8vw;
      }
      .back {
        margin-left: 16vw;
      }
    }
  }

  .col {
    width: 35%;
    margin: auto;
    .completed-container {
      width: 70%;
      margin: auto;
      text-align: center;
      h1 {
        font-size: 2rem;
        color: #220930;
        letter-spacing: 0.3rem;
      }
      p {
        color: grey;
        margin-block: 1rem 2rem;
      }
    }
  }
}
.flex {
  display: flex;
  gap: 1rem;
}
.column {
  width: 50%;
}
label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #220930;
}
img {
  width: 7rem;
  margin: 1.8rem;
}
.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.8rem;
  color: #212529;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  &::placeholder {
    font-size: 1.4rem;
  }
}
button.form-control {
  background: #220930;
  color: #fff;
}
#error-cvc,
#error-name,
#error-number,
#error-date {
  color: red;
  font-size: 10px;
  margin-block: 0.5rem 1.5rem;
}

@media (max-width: 900px) {
  .flexx {
    .col {
      width: 80%;
      margin: auto;
    }
    .floating-cards-bg {
      background: url("./images/bg-main-mobile.png");
      background-repeat: no-repeat;
      height: 29rem;
      width: 100%;
      background-size: cover;
      position: relative;

      .front {
        width: 30rem;
        max-width: 100%;
        position: absolute;
        left: 14vw;
        margin: 0;
        top: 55%;
        z-index: 1;
      }
      .back {
        width: 30rem;
        max-width: 100%;
        position: absolute;
        left: 8vw;
        margin: 0;
      }
    }
  }
}
@media (max-width: 360px) {
  .flexx {
    .floating-cards-bg {
      .front {
        position: absolute;
        left: 8vw;
      }
      .back {
        position: absolute;
        left: 3vw;
      }
    }
  }
}
